@model Data.Entities.Shipment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipment_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipment_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.planned_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.planned_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.effective_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.effective_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.associated_barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.associated_barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driver.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
